/* Results */
.results-top-nav{
  background-color: #FBFBFB;
  text-align: center;
  padding: 0;
}
.results .nav-pills>div>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #fff;
  background-color: #003399;
}
/*
.results .nav-pills li{
/*border-bottom: #121213 solid 1px;
}
*/
.results .nav-pills li.active{
  /*border-bottom: #FBFBFB solid 1px;
  border-left: #121213 solid 1px;
  border-right: #121213 solid 1px;*/
  border-top: #039 solid 5px;
}
/*
.results .nav-pills li.active{

-webkit-box-shadow: 0px -5px 13px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -5px 13px 6px rgba(0,0,0,0.75);
box-shadow: 0px -5px 13px 6px rgba(0,0,0,0.75);
z-index: 1;

}
.results .nav-pills li.active:first-child{
/* Right Top Shadow

-webkit-box-shadow: 10px -5px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px -5px 13px 0px rgba(0,0,0,0.75);
box-shadow: 10px -5px 13px 0px rgba(0,0,0,0.75);

}
.results .nav-pills li.active:last-child{
/* Left Top Shadow

-webkit-box-shadow: -10px -5px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -10px -5px 13px 0px rgba(0,0,0,0.75);
box-shadow: -10px -5px 13px 0px rgba(0,0,0,0.75);

}
*/

.results .nav-pills, .results .nav-pills>li, .results .nav-pills>li.active{
  background-color: #E8E8E8;
}
.results .nav-pills>li>a{
  color:#A9A9A9;
}
.results .nav-pills>li.active{
  background-color:  #FBFBFB;
}
.results .nav-pills>li.active a{
  background-color:  #FBFBFB;
  color: #039;
}
.results .nav-pills>li>a, .results .nav-pills>li.active>a{
  border-radius: initial;
}
.results .nav li a:focus, .results .nav li a:hover, .nav li.active a:hover, .results .nav li:hover{
  background-color:  #FBFBFB;
  color: #039;
}
.results .nav-pills>li+li{
  margin-left: 0;
}
.results .calc-options{
  background-color: #E8E8E8;
  color: #000;
  margin-top:20px; /* Give the same margin top as the heading in order to align with it */
  border: #ddd solid 1px;
}

.results .calc-options a, .results .calc-options a:hover{
  color: #000;
  text-decoration: none;
}
.results ul.options.dropdown-menu{
  -webkit-border-radius:0;
  border-radius: 0;
}
.custom-tooltip + .tooltip {border:none; }
.custom-tooltip + .tooltip > .tooltip-inner {background-color: #039; border-radius: 0; min-width: 100px; border:none; font-size: 15px;}
.custom-tooltip + .tooltip > .tooltip-arrow {border-top-color:#039;}
.results .more-info {margin-top: 20px;}
.results .more-info h4{color: #039;}
.results .more-info .well{border-radius: 0; padding:10px;}
.results .tab-content .tab-pane{
  position: relative;
}

.results .likes h4{color: #039;}
.results .likes div{font-size: 45px; text-align: center; cursor: pointer;}

.results .likes div.negative,
.results .likes.selected div.negative.selected{
  color: red;
}

.results .likes div.neutral,
.results .likes.selected div.neutral.selected{
  color: #ff9c00;
}

.results .likes div.positive,
.results .likes.selected div.positive.selected{
  color: green;
}

.results .likes.selected div{
  color: #A9A9A9;
}
.results .mobile-nav-indicators{background-color: #039;}
.results .mobile-nav-indicators div:hover{cursor: pointer;}
.results .mobile-nav-indicators div i.fa{font-size: 25px;color:#888; padding: 15px 0;}
.results .mobile-nav-indicators div.active {border-top: 2px solid #fff;}
.results .mobile-nav-indicators div.active i.fa {color: #fff;}

/******************  CHARTS ******************/

/* Options */
.results ul.options.dropdown-menu li{
  padding: 5px;
}
.results ul.options.dropdown-menu li:hover a, .results ul.options.dropdown-menu li:hover{
  background-color: #E8E8E8;
  cursor: pointer;
}

/*Vertical Bar Chart*/
.vertBarChartArea{
  color: white;
}
.vertBarChartArea .row{
  text-align:center;
}

.vertBarChartArea .row.positive,
.vertBarChartArea .row.negative{
  height: 150px;
}

.vertBarChartArea .row.logo{
  height: 40px;
}

.vertBarChartArea .row > div{
  height: 100%;
  margin: 0 2px;
  padding: 0;
  text-align: center;
  display:inline-block;
  float: none;
}

.vertBarChartArea .row.logo > div{
  height: 100%;
  background-color: rgb(232, 232, 232);
}

.vertBarChartArea .row.positive > div,
.vertBarChartArea .row.negative > div{
  position: relative;
}

.vertBarChartArea .row.positive > div .vertBar,
.vertBarChartArea .row.negative > div .vertBar{
  position: absolute;
  width: 100%;
  min-height: 20%;
}

.vertBarChartArea .row.positive > div .vertBar{
  bottom: 0;
}

.vertBarChartArea .row > div .negative{
  background-color: red;
}

.vertBarChartArea .row > div .high{
  background-color: green;
}
.vertBarChartArea .row > div .weak{
  background-color: orange;
}

/*Bar Chart*/
.barChartArea,
.barChartArea .bar>h4{
  color: white;
}
.barChartArea .row{
  margin: 5px 0;
}

.barChartArea .midlle-area{
  background-color: rgb(232, 232, 232);
}
@media (max-width: 499px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 35%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 12%;
  }
}
@media (min-width: 500px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 20%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 9%;
  }
}
@media (min-width: 768px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 12%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 5%;
  }
}
@media (min-width: 992px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 22%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 8%;
  }
}
@media (min-width: 1200px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 15%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 6%;
  }
}

.bar.negative {
  background-color: red;
}

.bar.high {
  background-color: green;
}

.bar.weak {
  background-color: orange;
}

.svrBarChart .bar.weak {
  background-color: green;
}

/* Dot Chart */
.dotchart .axis path,
.dotchart .axis line {
  fill: none;
  stroke: #039;
  shape-rendering: crispEdges;
}

.dotchart text,
.dotchart circle.dot{
  fill: #039;
}

.dotchart rect.rect {
  fill: red;
}

.dotchart rect.shade{
  fill: #ddd;
  stroke-width: 0.5;
  stroke: #A9A9A9;
}

.dotchart rect.shade.party{
  fill-opacity: 0;
}

.dotchart line.line{
  stroke: #E8E8E8;
}

.dotchart .y.axis .tick text{
  display: none;
}

.dotchart .tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/* Radar Chart */
.radarchart path {
  fill: none;
  stroke-width: 2px;
  opacity: 1;
  stroke-linecap: round;
}

.radarchart path.myPath {
  stroke: #00f;
}

.radarchart path.partyPath {
  stroke: #d62728;
  display: none;
}

/*Candidate Answers*/
.candidate-answers .qs-answer-wrap{
  margin-top:20px;
  border-bottom: #E8E8E8 solid 1px;
  padding-bottom: 15px;
}
.candidate-answers .qs-answer-wrap .question:first-child:before{
  font-family: FontAwesome;
  content: "\f075\00a0"; /* Icon + white space */
}
.candidate-answers .qs-answer-wrap:first-child{
  margin-top: 0;
}
.candidate-answers .qs-answer-wrap:last-child{
  margin-bottom: 10px;
}
.candidate-answers .qs-answer-wrap .question{
  padding: 5px;
  font-size: 16px;
}
.candidate-answers .qs-answer-wrap .answers .user span:first-child, .candidate-answers .qs-answer-wrap .answers .party span:first-child{
  font-weight: bold;
}
.candidate-answers .qs-answer-wrap .answers .user span:nth-child(3), .candidate-answers .qs-answer-wrap .answers .party span:nth-child(3){
  padding-left: 5px;
}
.candidate-answers .qs-answer-wrap .answers div{
  padding: 5px;
}

.candidate-answers .qs-answer-wrap.high-match .answers > div,
.candidate-answers .qs-answer-wrap.high-match .question:first-child:before{
  color: #418f31;
}
.candidate-answers .qs-answer-wrap.low-match .answers > div,
.candidate-answers .qs-answer-wrap.low-match .question:first-child:before{
  color: #ba0e0e;
}
.candidate-answers .qs-answer-wrap.no-match .answers > div,
.candidate-answers .qs-answer-wrap.no-match .question:first-child:before{
  color: #ff9c00;
}
.candidate-answers .qs-answer-wrap.no-opinion .answers > div,
.candidate-answers .qs-answer-wrap.no-opinion .question:first-child:before{
  color: #aaa;
}

.legend div{
  color: #039;
  padding: 0 5px;
  font-size: 13px;
  border: 1px solid #E8E8E8;
  text-align: center;
}
.legend.left-align div{
  text-align: left;
}
.legend div::before{content: '\25A0\0020'; font-size: 16px;}

.legend div.high::before{color: green;}
.legend div.weak::before{color: orange;}
.legend div.negative::before{color: red;}

.legend div.vaa::before{content: '\25CF\0020'; color: #039;}
.legend div.self::before{color: red;}

.legend div.you::before{color: #039;}
.legend div.party::before{color: red;}

.legend div.high-match::before{color: #418f31;}
.legend div.low-match::before{color: #ba0e0e;}
.legend div.no-match::before{color: #ff9c00;}
.legend div.no-opinion::before{color: #aaa;}


.myButton {
	-moz-box-shadow: 0px 1px 14px -7px #276873;
	-webkit-box-shadow: 0px 1px 14px -7px #276873;
	box-shadow: 0px 1px 14px -7px #276873;
	background-color:#599bb3;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:9px 56px;
	text-decoration:none;
	text-shadow:0px -1px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


