/*Bar Chart*/
.barChartArea,
.barChartArea .bar>h4{
  color: white;
}
.barChartArea .row{
  margin: 5px 0;
}

.barChartArea .midlle-area{
  background-color: rgb(232, 232, 232);
}
@media (max-width: 499px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 35%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 12%;
  }
}
@media (min-width: 500px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 20%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 9%;
  }
}
@media (min-width: 768px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 12%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 5%;
  }
}
@media (min-width: 992px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 22%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 8%;
  }
}
@media (min-width: 1200px) {
  .barChartArea .left-area .bar, .barChartArea .right-area .bar{
    min-width: 15%;
  }
  .barChartArea.positive .right-area .bar{
    min-width: 6%;
  }
}

.bar.negative {
  background-color: red;
}

.bar.high {
  background-color: green;
}

.bar.weak {
  background-color: orange;
}

.svrBarChart .bar.weak {
  background-color: green;
}
